#piechart{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #ddd; /* Default gray */
    margin: 20px auto;
    border: 3px solid black;
}

.pie {
    display: flex;
    flex-direction: row;  
    align-items: center;  
    gap: 30px;            
}

#label {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    text-align: left;      

}

#link_container {
    position: absolute;   
    right: 20px;        
    top: 50px;          
    text-align: right;  
    z-index: 100;       
}

.fake_link {
    color: #0000EE;               
    text-decoration: underline;    
    cursor: pointer;               
    font-family: sans-serif;       
    font-size: 16px;              
}

.fake_link:hover {
    color: #0000AA;
}
.close_x {
  position: absolute;
  right: 15px; top: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.modal_content {
  background-color: white;
  margin: auto;            
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 90%;         
  max-width: 450px;              
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5); 
}
.modal_window {
  display: none;       
  position: fixed;     
  z-index: 1000;      
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.6); 
}


