#piechart{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #ddd; /* Default gray */
    margin: 20px auto;
    border: 3px solid black;
}

.pie {
    display: flex;
    flex-direction: row;  
    align-items: center;  
    gap: 30px;            
}

#label {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    text-align: left;      
}